* {
    box-sizing: border-box;
    font-family: sans-serif;
}

html {
    font-size: 62.5%;
    text-align: center;
}

.good-input {
    background-color: green;
}

.bad-input {
    background-color: red;
}

h1 {
    text-align: center;
}

.challenge {
    width: 30rem;
    height: 30rem;
    max-height: 20vw;
    max-width: 20vw;
    background-color: purple;
    background-size: 100% 100%;
    margin: 2rem;
    transition: all .5s;
    border: 0.2rem solid black;
}

.choose {
    cursor: pointer;
}

.choose:hover {
    background-size: 120% 120%;
    background-position: center;
}

section {
    display: flex;
    justify-content: center;
}

#tom {
    background-image: url("resources/tom_sawyer.jpg");
}

#peter {
    background-image: url("resources/peterpan.jpg");
}

#alice {
    background-image: url("resources/drink_me.jpg");
}

.unwanted {
    width: 0;
    height: 0;
}